
 .logo {
    width: 351px;
     height: 113px;

}
.bgcolor   {background-color:#EEEEEE ;}        


.table1 {border:0px; width: 90%;
     
} 




.settingstable1 {width: 37%; background-color:#7EE5DA;
    
}




.settingstable2 {background-color: #70CCC2

}



.settingstable3 { text-align: right;
    background-color:#70CCC2;
}







